<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened
  >
    <mat-checkbox class="example-margin">Ordinary drink</mat-checkbox>
    <mat-checkbox class="example-margin">Cocktails</mat-checkbox>
    <mat-checkbox class="example-margin">Milk/Float/Shake</mat-checkbox>
    <mat-checkbox class="example-margin">Ordinary drink</mat-checkbox>
    <mat-checkbox class="example-margin">Cocktails</mat-checkbox>
    <mat-checkbox class="example-margin">Milk/Float/Shake</mat-checkbox>
    <mat-checkbox class="example-margin">Ordinary drink</mat-checkbox>
    <mat-checkbox class="example-margin">Cocktails</mat-checkbox>
    <mat-checkbox class="example-margin">Milk/Float/Shake</mat-checkbox>

  </mat-drawer>
  <mat-drawer-content>
    Main content
  </mat-drawer-content>
</mat-drawer-container>
